<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Example csv
      <pre>
      first_name,last_name,phone
      Jane,Doe,310-112-0001
      Jina,Doe,310-112-0002
      </pre>
    </p>
    <br>
    <%= form.label :csv %>
    <%= form.file_field :file, required: true %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
